body {
    padding: 0;
    background-color: #f9f5d7;
}

.tab-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    height: 2.2%;
    padding: .5% 0% .5% 0%;
    background-color: #32302f;
}

.about {
    position: absolute;
    top: 0;
    right: 0;
    width: 15%;
    padding: .5% 0% .5% 0%;
    background-color: #32302f;
}

.tab {
    display: inline;
    color: #f9f5d7;
    background-color: #32302f;
    padding: 3%;
    margin-right: -1%;
    border-radius: 5px;
    cursor: pointer;
}

.tab:hover {
    background-color: #504945;
}

.search-container {
    position: absolute;
    top: 5%;
    left: 1.5%;
    width: 95%;
}

.search-title {
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    color: #cf3b00;
}

.search-input {
    width: 100%;
    padding: .5% .5% .5% 1%;

    background-color: transparent;
    font-size: 14px;
    line-height: 2%;
    color: #575756;
    
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 98% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    cursor: pointer;
    
    &::placeholder {
	color: #575756CC;
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }
    
    &:hover,
    &:focus {
	padding: .5% 0% .5% 0%;
        outline: 0;
        border: 1px solid transparent;
        border-bottom: 1px solid #575756;
        border-radius: 0;
        background-position: 100% center;
    }
}

.search-results {
    position: absolute;
    top: 20%;
    left: 1.5%;
    width: 96%;
    height: 76%;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: .5%;
    overflow-y: auto;
    overflow-x: hidden;
}

.query-result-wrapper {
    width: 100%;
    padding: 1%;
}

.result-document-name {
    font-size: 22px;
    font-weight: 900;
    cursor: pointer;
    text-decoration-line: underline;
}

.result-document-words {
    font-size: 18px;
    padding-left: .5%;
}

.popup {
    position: absolute;
    top: 7%;
    left: 9%;
    width: 80%;
    height: 87%;
    border-radius: 15px;
    padding: 1%;
    background-color: #cfc9c2;
    overflow-y: auto;
}

.close-button {
    display: block;
    position: relative;
    border: none;
    padding: 0;
    width: 4%;
    height: 4%;
    margin-left: 95%;
    border-radius: 50%;
    font: inherit;
    cursor: pointer;
}
